.container{
    position: absolute;
    top:0;
    bottom:0;
    right:0;
    left:0;
}
body{
    margin:0%;
    background-color:burlywood;
}

nav{
    width: 100%;
    padding: 30px;
    top:0;
    left:0;
    display:flex;
    position:fixed;
    background-color:grey;
}
nav p{
    font-family:arial;
    font-size:24px;
    line-height:55px;
    float:left;
    color:white;
    padding:10px;
    border:5px solid white ;
    background-color:gray;
}
nav ul{
    float:left;
}
nav>ul>li{
    display:inline;
    opacity: 8;
    line-height:40px;
    text-align: center;
    font-size:20px;
    margin-right: 2px;
    list-style: none;
    position:relative;
}
nav>ul>li>a{
    padding:22px;
    margin-right:0;
    text-transform:uppercase;
    text-decoration:none;
    color:whitesmoke;
    font-size:20px;
    font-family:arial;
}
nav ul li ul{
display:block;
position:absolute;
background-color:white;
/* padding:10px; */
}
nav ul li ul li{
    width:180px;
    border-radius:4px;
    display:none;
}
nav ul li ul li a{
    padding: 8px 14px;
}
nav ul li ul li a:hover{
    background-color: purple;
}
nav ul li:hover ul{
    display:block;
}
ul li:hover ul li{
    display:block;
}
nav>ul>li>a:hover{
    box-shadow:0 0 10px white, inset 0 0 2px;
    background-color:white;
    color:purple;
}

li{
    color:black;
}
#services{
    padding-top:10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 25px;
}

#contacts{
    padding-top: 10%;
    font-size:30px;
}


#about{
    text-align: center;
    padding-top: 10%;
    font-size: 30px;
    color:purple;
}
table{
    text-align: center;
    display:block;
    margin-left: 20%;
    border-spacing:5px;
    
}
tr,td,th{
    border:2px solid black;
    padding-top:100px;
    background-color: white;
    color:grey;
    font-family: 'Courier New', Courier, monospace;
}
p{
    margin-top:5px;
    margin-bottom:10px;
    font-size: 30px;
    color:black;
    font-family: 'Times New Roman', Times, serif;
}
h2{
    color:purple;
    border:5px solid; 
    padding: 2px;
    border-radius: 20px;
    width:200px;
    margin-left:45%;
    background-color: white;
    font-family:'lucida sans';
    text-align: center;
}


.active{
    box-shadow:0 0 10px purple, inset 0 0 2px;
    background-color:white;
    color:purple;
}
h3{
    font-weight:bold;
    color:purple;
    font-family:Georgia, sans-serif;
    font-size:20px;
}
@media screen and (max-width: 1060px) {
    #primary { width:67%; }
    #secondary { width:30%; margin-left:3%;}  
}
@media screen and (max-width: 768px) {
    #primary { width:100%; }
    #secondary { width:100%; margin:0; border:none; }
}
#services >ol>li{
    color:black;
}
.card{
    box-shadow: 0 4px 8px 0 white;
    max-width: 350px;
    margin: auto;
    text-align: center;
    font-family: aerial;
}
.card button{
    border:none;
    outline: 0;
    padding: 20px;
    color: black;
    background-color:grey;
    text-align: center;
    cursor:pointer;
    width:100%;
    font-size:18px;
}
.card button:hover{
    background-color: whitesmoke;
    color: black;
}

.search-form{
    margin-top: 16px;
    float:right;
    margin-left: 300px;
}
#search button{
    float:right;
    color:white;
    background-color:grey;
    cursor:pointer;
    position:relative;
    padding:7px;
    font-family:sans-serif;
    border:none;
    font-size: 18px;
}
#office{
    display: flex;
    flex-direction: row;
    padding-top: 200px;
}
#casual{
    display:flex;
    flex-direction: row;
    padding-top: 100px;
    justify-content: space-around;
}
#african{
    display:flex;
    flex-direction: row;
    margin-top: 100px;
    justify-content: space-around;
}
#shoes{
    display: flex;
    flex-direction: row;
    padding-top: 100px;
    padding-bottom: 200px;
    justify-content: space-around;
}
.office{
    display:flex;
    justify-content: space-around;
    
}
#office-wear{
text-align: center;
margin-top: 200px;
margin-bottom: 50px; 
border:5px solid;
width:300px;
margin-left:40%;
padding:1px; 
background-color: aliceblue; 
font-family: 'Times New Roman', Times, serif; 
}
#casual-wear > h1{
    margin-top: 50px;
    text-align: center;
    border:5px solid;
    padding:18px;
    width:300px;
    margin-left: 40%;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}
#categories{
    text-align: center;
    padding-top: 150px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
.shoes-wear > h1{
    text-align: center;
    padding-top: 50px;
    border:5px solid;
    padding:18px;
    width:300px;
    margin-left:40%;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif
}
.african-wear >h1{
    text-align: center;
    margin-top:50px;
    border:5px solid;
    padding:18px;
    width:300px;
    margin-left:40%;
    background-color: aliceblue;
    font-family: 'Times New Roman', Times, serif;
}






